.alert {
    position: fixed;
    top: 5px;
    right: 10px;
    text-align: center;
    z-index: 999;
}

.extra-padding { 
    padding-left: 10px; 
}

input.only-bottom-border {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
}